:root {
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --main-text-color: #434455;
  --dark-text-color: #2e2f42;
  --light-text-color: #ffffff;
  --secendary-text-color: #f4f4fd;

  --main-action-color: #4d5ae5;
  --secendary-action-color: #404bbf;

  --light-bg-color: #f4f4fd;
  --dark-bg-color: #2e2f42;
  --main-bg-color: #ffffff;

  --main-border-color: #e7e9fc;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-style: normal;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style: none;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  border-bottom: 1px solid var(--main-border-color);
}

.header-box {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav .logo {
  margin-right: 76px;
}

.header-nav .list {
  display: flex;
  gap: 40px;
}

.header-nav .item {
  margin-right: 40px;
}

.header-nav .nav-link {
  display: inline-block;
  padding: 24px 0;
}

.address .list {
  display: flex;
  gap: 40px;
}

.address .item {
  padding: 24px 0;
}

.logo {
  color: var(--main-action-color);
  font-family: var(--logo-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo > .span {
  color: var(--dark-text-color);
}

.logo > .f-logo-subtext {
  color: var(--light-bg-color);
}

.nav-link {
  color: var(--dark-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--secendary-action-color);
}

.address {
  font-style: normal;
}

.contact-link {
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--secendary-action-color);
}

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  background-color: var(--dark-text-color);
}

.hero .title {
  margin: 0 auto;
  max-width: 496px;
  color: var(--light-text-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07em;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

.hero .button {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border: 0;
  border-radius: 4px;
  min-width: 169px;

  background-color: var(--main-action-color);
  font-family: "Roboto", sans-serif;
  color: var(--light-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.hero .button:hover,
.hero .button:focus {
  background-color: var(--secendary-action-color);
}

.section-title {
  color: var(--dark-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11em;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.our-principles {
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-principles .list {
  display: flex;
}

.our-principles .item {
  width: calc((100% - 72px) / 4);
}

.our-principles .item:not(:last-child) {
  margin-right: 24px;
}

.our-principles-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  color: var(--dark-text-color);
  text-align: center;
}

.our-principles-description {
  font-size: 16px;
  line-height: 1.5em;
}

.what-we-do {
  padding-bottom: 120px;
}

.what-we-do .section-title {
  margin-bottom: 72px;
}

.what-we-do .list {
  display: flex;
}

.what-we-do .item:not(:last-child) {
  margin-right: 24px;
}

.our-team {
  padding-top: 120px;
  padding-bottom: 120px;

  background-color: var(--light-bg-color);
}

.our-team .section-title {
  margin-bottom: 72px;
}

.our-team .list {
  display: flex;
}

.our-team .item {
  background-color: var(--main-bg-color);
  border-radius: 0 0 4px 4px;
}

.our-team .item:not(:last-child) {
  margin-right: 24px;
}

.team-info-box {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  color: var(--dark-text-color);
  text-align: center;
}

.our-team .role {
  font-size: 16px;
  line-height: 1.5em;
  text-align: center;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--dark-bg-color);
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  color: var(--secendary-text-color);
  font-size: 16px;
  line-height: 1.5em;
  width: 264px;
}

/* 
* Portfolio
*/

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.filter-list .item:not(:last-child) {
  margin-right: 24px;
}

.filter-button {
  padding: 12px 24px;
  border: 0;
  border-radius: 4px;
  border: 1px solid var(--main-border-color);

  background-color: var(--light-bg-color);
  font-family: "Roboto", sans-serif;
  color: var(--main-action-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.filter-button.state-active,
.filter-button:hover,
.filter-button:focus {
  background-color: var(--secendary-action-color);
  color: var(--light-text-color);
  border-color: transparent;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item {
  display: block;
  background-color: var(--main-bg-color);
}

.portfolio-img {
  display: block;
}

.portfolio-item .item-content {
  padding: 32px 16px;

  border-bottom: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  border-color: var(--main-border-color);
}

.product-title {
  margin-bottom: 8px;

  color: var(--dark-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
}

.product-type {
  font-size: 16px;
  line-height: 1.5em;
  color: var(--main-text-color);
}
